<div id="heading-breadcrumbs">
    <div class="container">
      <div class="row d-flex align-items-center flex-wrap">
        <div class="col-md-7">
          <h1 class="h2">Environmental Services</h1>
        </div>
        <div class="col-md-5">
          <ul class="breadcrumb d-flex justify-content-end">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Services</li>
            <li class="breadcrumb-item active">Environmental Services</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="content">
      <div class="container">
        <section class="bar mb-0">
          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h2>Environmental Services</h2>
              </div>
              <ul>
                <li>Environment Clearance</li>
                <li>Environment Impact Assessment, environment Management Plans </li>
                <li>Environment Audits </li>
                <li>Submission of  Consent to establish and operate any type of Industry </li>
                <li>Proposal and design of Rainwater Harvesting Structure </li>
                <li>Preparation and submission of all types of compliances related to MOEF, CGWA, RSPCB and other statutory compliances. </li>
              </ul>
              
            </div>
          </div>
        </section>
      </div>
      
    </div>