<div id="heading-breadcrumbs">
    <div class="container">
      <div class="row d-flex align-items-center flex-wrap">
        <div class="col-md-7">
          <h1 class="h2">Legal Services</h1>
        </div>
        <div class="col-md-5">
          <ul class="breadcrumb d-flex justify-content-end">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">Services</li>
            <li class="breadcrumb-item active">Legal Services</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="content">
      <div class="container">
        <section class="bar mb-0">
          <div class="row">
            <div class="col-md-12">
              <div class="heading">
                <h2>Legal Services</h2>
              </div>
              <ul>
                <li>Legal advice for the disputes related Mining, Environment and other related. </li>
                <li>Drafting of Appeals at the DMG and State Level.</li>
                <li>Assistance in Drafting of writ petitions with Ground facts and monitoring of legal litigations. </li>
                <li>Drafting of Legal letters and Notices with reference to Mining Acts, rules and regulation for both Opencast and Underground Mines. </li>
                <li>Fully integrated legal service right from exploration of mines to development of mines and to production and sale to the end customers. </li>
              </ul>
              
            </div>
          </div>
        </section>
      </div>
      
    </div>