<div id="heading-breadcrumbs">
    <div class="container">
      <div class="row d-flex align-items-center flex-wrap">
        <div class="col-md-7">
          <h1 class="h2">{{title}}</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="interactive-image"></div>
  <div class="naccs">
      <div class="grid">
       <div class="gc col-md-4">
        <div class="menu">
         <div class="active"><span class="light"></span><span>MARBLE</span></div>
         <div><span class="light"></span><span>GRANITE</span></div>
        </div>
       </div>
       <div class="gc col-md-8">
        <ul class="nacc" style="height:450px;">
         <li class="active">
          <div>
           <p>Marble is a metamorphic rock composed of recrystallized carbonate minerals, most commonly calcite or dolomite. Marble may be foliated. In geology, the term "marble" refers to metamorphosed limestone, but its use in stonemasonry more broadly encompasses unmetamorphosed limestone. Marble is commonly used for sculpture and as a building material. 

              USE OF MARBLE
              Sculpture
              White marble has been prized for its use in sculptures since classical times. This preference has to do with its softness, which made it easier to carve, relative isotropy and homogeneity, and a relative resistance to shattering. Also, the low index of refraction of calcite allows light to penetrate several millimeters into the stone before being scattered out, resulting in the characteristic waxy look which gives "life" to marble sculptures of any kind, which is why many sculptors preferred and still prefer marble for sculpting.
              Construction marble
              Construction marble is a stone which is composed of calcite, dolomite or serpentine which is capable of taking a polish. More generally in construction, specifically the dimension stone trade, the term "marble" is used for any crystalline calcite rock (and some non-calcitic rocks) useful as building stone. 
              </p>
          </div>
         </li>
         <li>
          <div>
           <p>Granite is a light-colored igneous rock with grains large enough to be visible with the unaided eye. It forms from the slow crystallization of magma below Earth's surface. Granite is composed mainly of quartz and feldspar with minor amounts of mica, amphiboles, and other minerals. This mineral composition usually gives granite a red, pink, gray, or white color with dark mineral grains visible throughout the rock.
              Granite has been used for thousands of years in both interior and exterior applications. Rough-cut and polished granite is used in buildings, bridges, paving, monuments, and many other exterior projects. Indoors, polished granite slabs and tiles are used in countertops, tile floors, stair treads, and many other practical and decorative features.
              </p>
          </div>
         </li>
        </ul>
       </div>
      </div>
     </div>
   
     <div class="get-it">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 text-center p-3">
              <h3>Do you want cool website like this one?</h3>
            </div>
            <div class="col-lg-4 text-center p-3">   <a href="#" class="btn btn-template-outlined-white">Buy this template now</a></div>
          </div>
        </div>
      </div>
     