<div id="heading-breadcrumbs">
  <div class="container">
    <div class="row d-flex align-items-center flex-wrap">
      <div class="col-md-7">
        <h1 class="h2">{{title}}</h1>
      </div>
    </div>
  </div>
</div>



<div class="naccs">
    <div class="grid">
     <div class="gc col-md-4">
      <div class="menu">
       <div class="active"><span class="light"></span><span>CALCITE</span></div>
       <div><span class="light"></span><span>GROUND CALCIUM CARBONATE</span></div>
       <div><span class="light"></span><span>DOLOMITE</span></div>
       <div><span class="light"></span><span>CHINA CLAY</span></div>
       <div><span class="light"></span><span>TALC</span></div>
       <div><span class="light"></span><span>SILICA / QUARTZ</span></div>
       <div><span class="light"></span><span>FELDSPAR</span></div>
       <div><span class="light"></span><span>LIMESTONE</span></div>
      </div>
     </div>
     <div class="gc col-md-8">
      <ul class="nacc">
       <li class="active">
        <div>
         <p>Calcite is a rock-forming mineral with a chemical formula of CaCO3. It is extremely common and found throughout the world in sedimentary, metamorphic, and igneous rocks. Some geologists consider it to be a "ubiquitous mineral" - one that is found everywhere.<br><br>
            Calcite is the principal constituent of limestone and marble. These rocks are extremely common and make up a significant portion of Earth's crust. They serve as one of the largest carbon repositories on our planet.<br><br>
            The properties of calcite make it one of the most widely used minerals. It is used as a construction material, abrasive, agricultural soil treatment, construction aggregate, pigment, pharmaceutical and more. It has more uses than almost any other minerals. It is used as a construction material, abrasive, agricultural soil treatment, construction aggregate, pigment, pharmaceutical and more. It has more uses than almost any other mineral.
            </p>
        </div>
       </li>
       <li>
        <div>
         <p>Ground Calcium Carbonate (GCC) differs from Precipitated Calcium Carbonate (PCC) in that the GCC is formed directly from grinding limestone rock into a powder, while PCC is chemically produced and precipitated out as powder.<br><br>
            Ground Calcium Carbonate is used in paper and plastic fillers, coatings and paints.  It is also used in cement, is converted to quick-lime (calcium oxide) and slaked lime (calcium hydroxide).  Ground calcium carbonate is slightly basic and can be used to neutralize combustion vapors or increase the pH in water or soils.<br><br>
            Pure calcium carbonate is a relatively soft mineral/compound, with a Mohs hardness of 2.5 – 3.0.  However, mined limestone may have a minor portion of abrasive impurities such as quartz / sand.
            </p>
        </div>
       </li>
       <li>
        <div>
         <p>Dolomite is a common rock-forming mineral. It is a calcium magnesium carbonate with a chemical composition of CaMg(CO3)2. It is the primary component of the sedimentary rock known as dolostone and the metamorphic rock known as dolomitic marble. Limestone that contains some dolomite is known as dolomitic limestone.<br><br>
            Dolomite is rarely found in modern sedimentary environments, but dolostones are very common in the rock record. They can be geographically extensive and hundreds to thousands of feet thick. Most rocks that are rich in dolomite were originally deposited as calcium carbonate muds that were post depositionally altered by magnesium-rich pore water to form dolomite.<br><br>
            Dolomite is also a common mineral in hydrothermal veins. There it is often associated with barite, fluorite, pyrite, chalcopyrite, galena, or sphalerite. In these veins it often occurs as rhombohedral crystals which sometimes have curved faces.
            </p>
        </div>
       </li>
       <li>
          <div>
           <p>China clays have been used in the ceramic industry since a long period. The properties that this clay possesses like easy molding, fine texture, etc. make it easier to use. In making paper, this clay is also used as filler. There are some of the other uses of the china clay as well. One of the main uses of the china clay is in the production of the paper. This clay is used for providing the adequate gloss on the grades of coated paper. Apart from the paper, it is also used in the production of rubber, paint, and many other products as well.
                </p>
          </div>
         </li>
         <li>
            <div>
             <p>Talc or talcum is a clay mineral composed of hydrated magnesium silicate with the chemical formula H2Mg3(SiO3)4 or Mg3Si4O10(OH)2. In loose form, it is (in ratio with or without corn starch) one of the most widely used substances known as baby powder. It occurs as foliated to fibrous masses, and in an exceptionally rare crystal form. It has a perfect basal cleavage, and the folia are not elastic, although slightly flexible.<br><br>
                Mohs scale of mineral hardness, based on scratch hardness comparison, defines value 1 as the hardness of talc. As such, talc can easily be scratched by a fingernail. Talc has a specific gravity of 2.5–2.8, a clear or dusty luster, and is translucent to opaque. Talc is not soluble in water, but is slightly soluble in dilute mineral acids. Its colour ranges from white to grey or green and it has a distinctly greasy feel. Its streak is white.<br><br>
                 Talc is a metamorphic mineral that results from the metamorphism of magnesian minerals such as serpentine, pyroxene, amphibole, and olivine, in the presence of carbon dioxide and water. This is known as "talc carbonation" or "steatization" and produces a suite of rocks known as talc carbonates.
                </p>
            </div>
           </li>
           <li>
              <div>
               <p>Quartz is a chemical compound consisting of one part silicon and two parts oxygen. It is silicon dioxide (SiO2). It is the most abundant mineral found at Earth's surface, and its unique properties make it one of the most useful natural substances. Quartz is the most abundant and widely distributed mineral found at Earth's surface. It is present and plentiful in all parts of the world. It forms at all temperatures. It is abundant in igneous, metamorphic, and sedimentary rocks. It is highly resistant to both mechanical and chemical weathering. This durability makes it the dominant mineral of mountaintops and the primary constituent of beach, river, and desert sand. Quartz is ubiquitous, plentiful and durable. Minable deposits are found throughout the world.
                       </p>
              </div>
             </li>
             <li>
                <div>
                 <p>Feldspar minerals are essential components in igneous, metamorphic and sedimentary rocks, to such an extent that the classification of a number of rocks is based upon feldspar content.  The mineralogical composition of most feldspars can be expressed in terms of the ternary system Orthoclase (KAlSi3O8), Albite (NaAlSi3O8) and Anorthite (CaAl2Si2O8).  Chemically, the feldspars are silicates of aluminums, containing sodium, potassium, iron, calcium, or barium or combinations of these elements.<br><br>
                    The minerals of which the composition is comprised between Albite and Anorthite are known as the plagioclase feldspars, while those comprised between Albite and Orthoclase are called the alkali feldspars due to the presence of alkali metals sodium and potassium. The alkali feldspars are of particular interest in terms of industrial use of feldspars. <br><br>
                     Amongst the numerous rocks in which they are present, feldspars are particularly abundant in igneous rocks like granite, which contains up to 50% or 70% of alkaline feldspar. Basically, the two properties which make feldspars useful for downstream industries are their alkali and alumina content.  On those elements we can distinguish three families: Feldspathic sand, Pegmatite and Feldspar.  A further distinction can be made between sodium, potassium and mixed feldspars, depending on the type of alkali they contain.  Feldspars play an important role as fluxing agents in ceramics and glass applications, and also are used as functional fillers in the paint, plastic, rubber and adhesive industries.
                    </p>
                </div>
               </li>
               <li>
                  <div>
                   <p>Red ochre is composed mailnly of iron oxide, hematite which word comes from Greek, hema meaning blood. Used from prehistory and throughout history, these permanent pigments can be safely mixed with other pigments. Ochres vary widely in transparency; some are quite opaque, while others are valued for their use as glazes.<br><br>
                      Fe2O3, takes its reddish colour from the mineral hematite, which is an anhydrous iron oxide.
                      </p>
                  </div>
                 </li>
                 <li>
                    <div>
                     <p>Limestone is a sedimentary rock composed primarily of calcium carbonate (CaCO3) in the form of the mineral calcite. It most commonly forms in clear, warm, shallow marine waters. It is usually an organic sedimentary rock that forms from the accumulation of shell, coral, algal, and fecal debris. It can also be a chemical sedimentary rock formed by the precipitation of calcium carbonate from lake or ocean water.<br><br>
                        Powdered limestone is used as a filler in paper, paint, rubber, and plastics. Crushed limestone is used as a filter stone in on-site sewage disposal systems. Powdered limestone is also used as a sorbent (a substance that absorbs pollutants) at many coal-burning facilities.
                        </p>
                    </div>
                   </li>
      </ul>
     </div>
    </div>
   </div>
 
   <div class="get-it">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 text-center p-3">
            <h3>Do you want cool website like this one?</h3>
          </div>
          <div class="col-lg-4 text-center p-3">   <a href="#" class="btn btn-template-outlined-white">Buy this template now</a></div>
        </div>
      </div>
    </div>
   