<section >
  <div class="container-fluid">
    <!-- Carousel Start-->
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
      
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../assets/img/banner-1.jpg" alt="Los Angeles">
        </div>
        <div class="carousel-item">
          <img src="../assets/img/Banner-2.jpg" alt="Chicago" >
        </div>
        <div class="carousel-item">
          <img src="../assets/img/banner-1.jpg" alt="New York">
        </div>
      </div>
      
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    </div>
    <!-- Carousel End-->
  </div>
</section>
<section class="bar background-white">
  <div class="container">
     
      <div class="heading text-center">
        <h2 class="text-center">About Us</h2>
      </div>
      <div class="text-center">
      <p class="lead">H K Trading and Consulting is newly emerging and reputed Environment, Mining and Legal consultancy to provide one point services to our cliental. 
        With the competent team and highly experience people in the field, HKTC is emerging as the leading solution provider for the industry in the field of Environment, Mining and Legal services.
        </p>
        <a href="#" class="btn btn-template-outlined">Read More</a>
    </div>
  </div>
  
</section>
<section class="bar background-pentagon no-mb text-md-center">
  <div class="container">
    <div class="heading text-center">
      <h2>Services</h2>
    </div>
    <p class="lead">We have worked with many clients and we always like to hear they come out from the cooperation happy and satisfied. Have a look what our clients said about us.</p>
    <!-- Carousel Start-->
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-desktop"></i></div>
          <h3 class="h4">Environmental Services</h3>
          <p>Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-print"></i></div>
          <h3 class="h4">Mining, Geological, Hydrogeology & Survey Services</h3>
          <p>Advantage old had otherwise sincerity dependent additions. It in adapted natural hastily is justice. Six draw you him full not mean evil. Prepare garrets it expense windows shewing do an.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box-simple">
          <div class="icon-outlined"><i class="fa fa-globe"></i></div>
          <h3 class="h4">Legal Services</h3>
          <p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect.</p>
        </div>
      </div>
    </div>
    <!-- Carousel End-->
  </div>
</section>
<section style="background: url(../../../assets/img/fixed-background-2.jpg) center top no-repeat; background-size: cover;" class="bar no-mb color-white text-center bg-fixed relative-positioned">
  <div class="dark-mask"></div>
  <div class="container">
    <div class="icon icon-outlined icon-lg"><i class="fa fa-file-code-o"></i></div>
    <h3 class="text-uppercase">Do you want to see more?</h3>
    <p class="lead">We have prepared for you more than 40 different HTML pages, including 5 variations of homepage.</p>
    <p class="text-center"><a href="index2.html" class="btn btn-template-outlined-white btn-lg">See another homepage</a></p>
  </div>
</section>
<section class="bg-white bar">
  <div class="container">
    <div class="heading text-center">
      <h2>From the blog</h2>
    </div>
    <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. <a href="blog.html">Check our blog</a></p>
    <div class="row">
      <div class="col-lg-3">
        <div class="home-blog-post">
          <div class="image"><img src="../../../assets/img/portfolio-4.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
          </div>
          <div class="text">
            <h4><a href="#">Fashion Now </a></h4>
            <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
            <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="home-blog-post">
          <div class="image"><img src="../../../assets/img/portfolio-3.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
          </div>
          <div class="text">
            <h4><a href="#">What to do</a></h4>
            <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
            <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="home-blog-post">
          <div class="image"><img src="../../../assets/img/portfolio-5.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
          </div>
          <div class="text">
            <h4><a href="#">5 ways to look awesome</a></h4>
            <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
            <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="home-blog-post">
          <div class="image"><img src="../../../assets/img/portfolio-6.jpg" alt="..." class="img-fluid">
            <div class="overlay d-flex align-items-center justify-content-center"><a href="#" class="btn btn-template-outlined-white"><i class="fa fa-chain"> </i> Read More</a></div>
          </div>
          <div class="text">
            <h4><a href="#">Fashion Now </a></h4>
            <p class="author-category">By <a href="#">John Snow</a> in <a href="blog.html">Webdesign</a></p>
            <p class="intro">Fifth abundantly made Give sixth hath. Cattle creature i be don't them behold green moved fowl Moved life us beast good yielding. Have bring.</p><a href="#" class="btn btn-template-outlined">Continue Reading</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- GET IT-->
<div class="get-it">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 text-center p-3">
        <h3>Do you want cool website like this one?</h3>
      </div>
      <div class="col-lg-4 text-center p-3">   <a href="#" class="btn btn-template-outlined-white">Buy this template now</a></div>
    </div>
  </div>
</div>